  body{
  text-align: center;
  color: #FF0000;
  font-family: Arial Black;
  font-size: 15px;
  margin: 200px;
  margin-top: 50px;
  background-image: url(jungle.gif);
  
}

body{
  margin: 0
  height: 100%;
  cursor: url(Beef-PNG-Image-HD.png), auto;
}
h1 {
    font-size: 60px;

.cursor{
width: 100px;
height: 100px;
position: absolute;

}


}
