  body{
  text-align: center;
  color: #77acf1;
  font-family: Arial Black;
  font-size: 15px;
  margin: 200px;
  margin-top: 50px;
  background-image: url(jungle.gif);
  cursor: url(Beef-PNG-Image-HD.png);
}

h1 {
    font-size: 60px;

}
